body {
	font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	color: #333;
	background-color: #fff;
	text-align: center;
}

a {
	color: #07c;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

.container {
	margin-left: 1em;
	margin-right: 1em;
	width: auto;
}

.jumbotron {
	padding-top: 1em;
	padding-bottom: 2em;
	font-size: 1.5rem;
	background-color: #07c;
	color: #fff;
}

.jumbotron h1 {
	margin-bottom: 0;
	font-size: 2.5em;
	font-weight: normal;
}

.unstable {
	margin-top: 0;
	font-size: 1rem;
}

.unstable a {
	color: #fff;
	text-decoration: underline;
}

.btn {
	position: relative;
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: .75em 1.15em;
	font-size: inherit;
	font-weight: normal;
	line-height: 1;
}

.unstable a:hover,
.btn:hover,
.btn:active {
	text-decoration: none;
	color: #4078c0;
	background: #fff;
	border-color: #fff;
	box-shadow: none;
}

.footer {
	padding-top: 2em;
	padding-bottom: 1em;
	line-height: 1.75;
	color: #757575;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.screenshots {
	margin-top: 1.5em;
}

.screenshots img {
	max-width: 100%;
}

.screenshots figure {
	margin: 0;
	float: left;
	width: 49%;
	border: 1px solid #fff;
	position: relative;
}

.screenshots figcaption {
	background-color: #07c;
	color: #fff;
	width: 100%;
	line-height: 2;
	position: absolute;
	bottom: 0;
}

.screenshots-other {
	padding-bottom: 3em;
}

.screenshots:after {
	display: table;
	content: " ";
	clear: both;
}

.screenshots figure:last-child {
	float: right;
}

@media (min-width: 1060px) {
	.container {
		width: 980px;
		margin-right: auto;
		margin-left: auto;
	}
	
	.jumbotron {
		padding-bottom: 10em;
	}
	
	.screenshots-main {
		margin-top: -13em;
	}
}

@media (max-width: 840px) {
	.screenshots figure {
		width: auto;
		max-width: 480px;
		float: none !important;
		text-align: center;
		margin: 1em auto;
	}
	
	.jumbotron h1 {
		font-size: 1.5em;
	}
	
	.jumbotron p {
		margin-top: 0;
	}
}

@media (max-width: 480px) {
	.jumbotron h1 {
		font-size: 1em;
	}
}
